* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
}

.title h1{
    background: cornflowerblue;
    color: #fff;
    padding: 15px;
}

form{
    margin: 10px;
    padding: 10px;
}

form input#search{
    padding: 5px;
    border-color: #333;
    border-radius: 5px;
}

form button{
    padding: 5px 10px;
    border-radius: 2px;
}

div.list{
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.item{
    text-align: center;
    padding: 10px;
    width: 200px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin: 5px;
}

div.item:hover{
    background: cornflowerblue;
    cursor: pointer;
}

div.item img{
    width: 100%;
}
